@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    width: 100vw;
}

h1 {
    font-size: 4rem;
}

button {
    padding: 10px 15px;
    border-radius: 8px;
    font-weight: bold;
    border: 0;
    background: #762A2E;
    color: white;
}

ul {
    list-style: none;
    display: flex;
}

li {
    margin: 0 15px;
}

nav {
    display: flex;
    justify-content: space-between;
    margin: 0 30px;
}

nav p {
    font-weight: bold;
}

header {
    height: calc(100vh - 150px);
    background: no-repeat center/cover url("assets/header-image.jpg");
}

.header-content {
    max-width: 400px;
    margin: 250px auto;
    text-align: center;
}

.header-content h1 {
    margin-bottom: 10px;
}